h1 a {
    color: #1AB3F0;
    font-family: 'Lobster';
}

h4 {
    font-family: 'Lobster';
}

/* creation d'espace vide pour aérer la page */
  .espace {
     margin-top: 2cm;
  }

     .leaflet-container {  /* all maps */
        width:  800px;
        height: 450px;

  display: block;
  margin-left: auto;
  margin-right: auto;
    }

    #specialbigmap {
        height: 800px;
    }

body {
    padding-left: 15px;
}

/* création de 2 colonnes pour faire une page détails qu'elle est belle */

#wrap {
   width:600px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:300px;
}
#right_col {
   float:right;
   width:300px;
}